* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

window#waybar {
    background-color: transparent;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #51a37a;
}

#workspaces button {
    padding: 0 0.5em;
    margin: 0.25em;
    background: #770175;
    color: transparent;
}

#workspaces button:hover {
    box-shadow: inset 0 -3px #E435B8;
}

@keyframes change-workspace {
    from {background: #770175; padding: 0 0.5em;}
    to {background: #E435B8; padding: 0 1em;}
}

#workspaces button.active {
    animation-name: change-workspace;
    animation-duration: 0.1s;
    padding: 0 1em;
    background: #E435B8;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#window,
#custom-power,
#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#custom-media,
#keyboard-state {
    padding: 0 10px;
    color: #FDE8E9;
    border-radius: 10px;
    background-color: #1e1738;
}

window#waybar.empty #window {
    background: transparent;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#custom-media {
    background-color: #1DB954;
    color: #191414;
    /*min-width: 100px;*/
}

#custom-media.custom-spotify {
    background-color: #1DB954;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}
